<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.central.user.mapper.RoleMapper">
  <sql id="Column_List">
			id,
			code,
			name,
			create_time,
			update_time,
			tenant_id
	</sql>

  <sql id="where">
    <where>
      <if test="r.name != null and r.name != ''">
        AND t.name LIKE concat('%', #{r.name}, '%')
      </if>

      <if test="r.searchKey != null and r.searchKey != '' and r.searchKey=='name'">
        AND t.name LIKE concat('%', #{r.searchValue}, '%')
      </if>
    </where>
  </sql>

  <select id="findAll" resultType="com.warrior.central.common.model.SysRole">
    SELECT
      <include refid="Column_List"/>
    FROM
      sys_role
    WHERE
      1=1
    <if test="shopId != null and shopId != ''">
      AND tenant_id = 'SHOP'
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="findList" resultType="com.warrior.central.common.model.SysRole">
    SELECT
    <include refid="Column_List"/>
    FROM sys_role t
    <include refid="where"/>
    ORDER BY t.create_time DESC
  </select>

</mapper>