<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.central.user.mapper.UserMapper">
	<sql id="where">
		<where>
			t.is_del=0
			<if test="shopId != null and shopId != ''">
			  AND t.shop_id = #{shopId}
			</if>
			<if test="u.id != null and u.id != ''">
				AND t.id LIKE concat('%', #{u.id}, '%')
			</if>
			<if test="u.username != null and u.username != ''">
				AND t.username LIKE concat('%', #{u.username}, '%')
			</if>
			<if test="u.nickname != null and u.nickname != ''">
				AND t.nickname LIKE concat('%', #{u.nickname}, '%')
			</if>
			<if test="u.enabled != null and u.enabled != ''">
				AND t.enabled = #{u.enabled}
			</if>
			<if test="u.type != null and u.type != ''">
				AND t.type = #{u.type}
			</if>
			<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='user_id'">
				AND t.id  LIKE concat('%', #{u.searchValue}, '%')
			</if>
			<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='username'">
				AND t.username  LIKE concat('%', #{u.searchValue}, '%')
			</if>
			<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='nick_name'">
				AND t.nickname  LIKE concat('%', #{u.searchValue}, '%')
			</if>
			<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='mobile'">
				AND t.mobile  LIKE concat('%', #{u.searchValue}, '%')
			</if>
		</where>
	</sql>

	<select id="findList" resultType="com.warrior.central.common.model.SysUser">
		select * from sys_user t
		<include refid="where" />
		order by t.id desc
	</select>
</mapper>