<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.central.home.stay.mapper.device.DeviceMapper">

	<select id="listSoldDevice" resultType="com.warrior.central.home.stay.controller.device.dto.DeviceDTO">
	  SELECT
			device.id AS id,
			device.number AS number,
			device.ip AS ip,
			device.apk_version AS apkVersion,
			device.mac_id AS macId,
			device.cup_id AS cupId,
			device.online_time AS onlineTime,
		  deviceOrder.shop_id AS shopId,
			shop.name AS shopName,
			device.create_time AS createTime
		FROM
			zmsk_device device
		INNER JOIN zmsk_shop_device_order deviceOrder ON deviceOrder.device_id = device.id
		LEFT JOIN zmsk_shop shop ON shop.id = deviceOrder.shop_id
		WHERE
       1=1
		<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='number'">
			AND device.number LIKE concat('%', #{u.searchValue}, '%')
		</if>
		<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='apkVersion'">
			AND device.apk_version LIKE concat('%', #{u.searchValue}, '%')
		</if>
		ORDER BY device.create_time DESC
	</select>

	<select id="listUnsoldDevice" resultType="com.warrior.central.home.stay.model.DeviceDO">
	  SELECT
			device.id AS id,
			device.number AS number,
			device.ip AS ip,
			device.apk_version AS apkVersion,
			device.mac_id AS macId,
			device.cup_id AS cupId,
			device.create_time AS createTime
	  FROM
		  zmsk_device device
	  WHERE
		  device.id NOT IN (SELECT device_id FROM zmsk_shop_device_order )
		<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='number'">
    AND device.number LIKE concat('%', #{u.searchValue}, '%')
		</if>
		<if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='apkVersion'">
    AND device.apk_version LIKE concat('%', #{u.searchValue}, '%')
		</if>
	  ORDER BY device.create_time DESC
	</select>
</mapper>