<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.warrior.central.home.stay.mapper.shop.ShopMapper">

    <sql id="where">
        <where>
            t.enable_status = 1
            <if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='name'">
                and t.name  like concat('%', #{u.searchValue}, '%')
            </if>
            <if test="u.searchKey != null and u.searchKey != '' and u.searchKey=='tel_number'">
                and t.tel_number  like concat('%', #{u.searchValue}, '%')
            </if>
        </where>
    </sql>

	<select id="listShop" resultType="com.warrior.central.home.stay.model.shop.ShopDO">
		SELECT * FROM zmsk_shop t
        <include refid="where" />
		ORDER BY t.id DESC
	</select>
</mapper>